@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
  background-color: #ffc92b;
}
.buttonstyle {
  background-color: #1f2b8eff;
}

.textstyle1 {
  color: #1f2b8eff;
}

.textstyle2 {
  color: #d90ac2ff;
}
.textstyle {
  color: #ffc92b;
  font-weight: bold;
}
